.hero__flex-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.hero__title{
  font-family: 'Courier New', Courier, monospace;
  font-size: 64px;

}
.hero__small-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

