.hero__flex-container {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  padding-bottom: 100px;
}

.hero__title {
  font-size: 64px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-light);
}

.hero__small-text {
  max-width: 425px;
  font-size: 14px;
  line-height: 250%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-light);
}

.hero__another-content {
  position: relative;
}

.hero__button {
  position: absolute;
  left: calc(100% - 300px);
  top: -88px;
}

.hero__picture {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .hero__flex-container {
    flex-wrap: wrap;
  }

  .hero__title {
    font-size: 24px;
  }

  .hero__button {
    left: calc(100vw - 150px);
    top: -60px;
    width: 120px;
    height: 120px;
  }

  .hero__small-text {
    padding-top: 0%;
    font-size: 12px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .hero__title {
    font-size: 48px;
  }

  .hero__small-text {
    padding-top: 0%;
  }

  .hero__flex-container {
    flex-wrap: wrap;
  }

  .hero__button {
    left: calc(100vw - 300px);
  }

  .hero__container {
    padding-bottom: 65px;
  }
}
