// INFO: Общий файл для стилей UI-kit. Сюда можно заносить стили для разных технических классов.
// По типу заголовков, кнопок, и тд.

.title-text {
  margin: 0;
  font-family: var(--font-family-title);
  font-weight: 400;
}

.small-text {
  font-family: var(--font-family-text);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-polite-white);
  border-radius: 50%;
  width: 176px;
  height: 176px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-off-black);
  background-color: var(--color-polite-white);
  transition: all var(--transition-default);
  cursor: pointer;

  &__text {
    display: block;
    font-weight: inherit;
    color: inherit;
    transform: translateY(10px);
  }

  &__arrow {
    display: block;
    fill: currentcolor;
    transform: translateY(50%);
  }

  &:hover {
    border-color: var(--color-dire-wolf);
    color: var(--color-light);
    background-color: var(--color-dire-wolf);
    transform: rotate(-30deg);
  }

  &:active {
    background-color: #1f1f1f;
  }
}
