<div class="catalog-furniture">
  <div class="catalog-furniture__container container">
    <div class="catalog-furniture__menu">
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>
      <div class="catalog-furniture__menu-item small-text">
        <svg class="button__arrow catalog__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
        <div class="catalog-furniture__menu-item__name small-text">
          столы
        </div>
        <div class="catalog-furniture__menu-item__counter small-text">
          3
        </div>
      </div>


    </div>
    <div class="catalog-furniture__elem-container">
      <div class="catalog-furniture__elem">
        <picture>
          <source srcset="img/catalog-el.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
        </picture>
        <div class="catalog-furniture__elem_name small-text">
          Стол Круглый
        </div>
        <div class="catalog-furniture__elem_cost small-text">
          450 р / 1 часть
        </div>
        <div class="catalog-furniture__elem__button__container">
          <button class="catalog-furniture__elem__button small-text">
            <div class="catalog-furniture__elem__button_text small-text">
              в корзину
            </div>
            <svg class="catalog__arrow_button" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </button>
          <button class="catalog-furniture__elem__button_minus small-text">
            <p class="catalog-furniture__elem__button__text">-</p>
          </button>
          <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
            1
          </div>
          <button  class="catalog-furniture__elem__button_plus small-text">
            <p class="catalog-furniture__elem__button__text">+</p>
          </button>
        </div>

      </div>

      <div class="catalog-furniture__elem">
        <picture>
          <source srcset="img/catalog-el.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
        </picture>
        <div class="catalog-furniture__elem_name small-text">
          Стол Круглый
        </div>
        <div class="catalog-furniture__elem_cost small-text">
          450 р / 1 часть
        </div>
        <div class="catalog-furniture__elem__button__container">
          <button class="catalog-furniture__elem__button small-text">
            <div class="catalog-furniture__elem__button_text small-text">
              в корзину
            </div>
            <svg class="catalog__arrow_button" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </button>
          <button class="catalog-furniture__elem__button_minus small-text">
            <p class="catalog-furniture__elem__button__text">-</p>
          </button>
          <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
            1
          </div>
          <button  class="catalog-furniture__elem__button_plus small-text">
            <p class="catalog-furniture__elem__button__text">+</p>
          </button>
        </div>

      </div>
      <div class="catalog-furniture__elem">
        <picture>
          <source srcset="img/catalog-el.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
        </picture>
        <div class="catalog-furniture__elem_name small-text">
          Стол Круглый
        </div>
        <div class="catalog-furniture__elem_cost small-text">
          450 р / 1 часть
        </div>
        <div class="catalog-furniture__elem__button__container">
          <button class="catalog-furniture__elem__button small-text">
            <div class="catalog-furniture__elem__button_text small-text">
              в корзину
            </div>
            <svg class="catalog__arrow_button" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </button>
          <button class="catalog-furniture__elem__button_minus small-text">
            <p class="catalog-furniture__elem__button__text">-</p>
          </button>
          <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
            1
          </div>
          <button  class="catalog-furniture__elem__button_plus small-text">
            <p class="catalog-furniture__elem__button__text">+</p>
          </button>
        </div>

      </div>
      <div class="catalog-furniture__elem">
        <picture>
          <source srcset="img/catalog-el.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
        </picture>
        <div class="catalog-furniture__elem_name small-text">
          Стол Круглый
        </div>
        <div class="catalog-furniture__elem_cost small-text">
          450 р / 1 часть
        </div>
        <div class="catalog-furniture__elem__button__container">
          <button class="catalog-furniture__elem__button small-text">
            <div class="catalog-furniture__elem__button_text small-text">
              в корзину
            </div>
            <svg class="catalog__arrow_button" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </button>
          <button class="catalog-furniture__elem__button_minus small-text">
            <p class="catalog-furniture__elem__button__text">-</p>
          </button>
          <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
            1
          </div>
          <button  class="catalog-furniture__elem__button_plus small-text">
            <p class="catalog-furniture__elem__button__text">+</p>
          </button>
        </div>

      </div>
      <div class="catalog-furniture__elem">
        <picture>
          <source srcset="img/catalog-el.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
        </picture>
        <div class="catalog-furniture__elem_name small-text">
          Стол Круглый
        </div>
        <div class="catalog-furniture__elem_cost small-text">
          450 р / 1 часть
        </div>
        <div class="catalog-furniture__elem__button__container">
          <button class="catalog-furniture__elem__button small-text">
            <div class="catalog-furniture__elem__button_text small-text">
              в корзину
            </div>
            <svg class="catalog__arrow_button" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </button>
          <button class="catalog-furniture__elem__button_minus small-text">
            <p class="catalog-furniture__elem__button__text">-</p>
          </button>
          <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
            1
          </div>
          <button  class="catalog-furniture__elem__button_plus small-text">
            <p class="catalog-furniture__elem__button__text">+</p>
          </button>
        </div>

      </div>
      <div class="catalog-furniture__elem">
        <picture>
          <source srcset="img/catalog-el.webp" type="image/webp">
          <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
        </picture>
        <div class="catalog-furniture__elem_name small-text">
          Стол Круглый
        </div>
        <div class="catalog-furniture__elem_cost small-text">
          450 р / 1 часть
        </div>
        <div class="catalog-furniture__elem__button__container">
          <button class="catalog-furniture__elem__button small-text">
            <div class="catalog-furniture__elem__button_text small-text">
              в корзину
            </div>
            <svg class="catalog__arrow_button" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </button>
          <button class="catalog-furniture__elem__button_minus small-text">
            <p class="catalog-furniture__elem__button__text">-</p>
          </button>
          <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
            1
          </div>
          <button  class="catalog-furniture__elem__button_plus small-text">
            <p class="catalog-furniture__elem__button__text">+</p>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
