<section class="direction">
  <div class="container direction__container">
    <h2 class="direction__container__title title-text">
      Направления:
    </h2>

    <a href="/" class="direction__container__rental">
      <h3 class="direction__container__rental__text title-text">
        Аренда мебели
        <svg class="direction__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
      </h3>
      <picture>
        <source srcset="img/direction__rental.webp" type="image/webp">
        <img loading="lazy" src="img/direction__rental.png" class="rental__picture" width="1040" height="248" alt="Красивый стол с розами">
      </picture>
    </a>

    <a href="/" class="direction__container__marry">
      <h3 class="direction__container__marry__text title-text">
        Свадьбы
        <svg class="direction__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
      </h3>
      <picture>
        <source srcset="img/direction__marry.webp" type="image/webp">
        <img loading="lazy" src="img/direction__marry.png" class="marry__picture" width="1040" height="248" alt="Красивый стол с розами">
      </picture>
    </a>

    <a href="/" class="direction__container__ivents">
      <h3 class="direction__container__ivents__text title-text">
        ивенты
        <svg class="direction__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
      </h3>
      <picture>
        <source srcset="img/direction__ivents.webp" type="image/webp">
        <img loading="lazy" src="img/direction__ivents.png" class="ivents__picture" width="1040" height="248" alt="Красивый стол с розами">
      </picture>

    </a>

    <a href="/" class="direction__container__organization">
      <h3 class="direction__container__organization__text title-text">
        Организация<br>
        мероприятий<br>
        под ключ
        <svg class="direction__arrow" width="24" height="24">
          <use xlink:href="img/sprite.svg#button-arrow"></use>
        </svg>
      </h3>
      <picture>
        <source srcset="img/direction__organization.webp" type="image/webp">
        <img loading="lazy" src="img/direction__organization.png" class="organization__picture" width="1040" height="248" alt="Красивый стол с розами">
      </picture>
    </a>
  </div>
</section>
