<section class="hero">
  <div class="container hero__container">
    <div class="hero__flex-container">
      <h1 class="hero__title title-text">
        Создаём уникальную атмосферу для  самых значимых событий
      </h1>
      <div class="hero__small-text small-text">
        полное погружение в другую реальность.
        Мы воплощаем в жизнь любые решения, делая мероприятие самым запоминаемым событием города.
      </div>
    </div>
    <div class="hero__another-content">
      <div class="hero__picture-button">
        <button class="hero__button catalog-button ">в каталог</button>
        <picture>
          <img loading="lazy" src="img/hero.png" class="hero__picture" width="" height="" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
