<div class="inner-header inner-header-itemcard">
  <div class="inner-header__container container inner-header-itemcard__container">
    <div class="inner-header_wrapper">
      <h1 class="inner-header__title title-text">@page</h1>
      @include('../partials/breadcrumbs-block.html', {
        "page": "@page"
      })
    </div>
    <a href="#" class="cart__button ">
      <span class="cart__button__number small-text"></span>
      <span class="cart__button__text small-text">добавлено!</span>
    </a>
  </div>

</div>
