<div class="inner-header">
  <div class="inner-header__container container inner-header-furniture">
    <div class="inner-header_wrapper">
      <h1 class="inner-header__title title-text">@page</h1>
      @include('../partials/breadcrumbs-block.html', {
        "page": "@page"
      })
    </div>
    <a href="#" class="catalog__button button btn-reset">
      <span class="button__text">скачать PDF-каталог</span>
      <svg class="button__arrow" width="24" height="24">
        <use xlink:href="img/sprite.svg#button-arrow"></use>
      </svg>
    </a>
  </div>

</div>
