
<section class="review">
  <div class="catalog-furniture__slider__container  container">
    <h2 class="review__title  itemcard__slider__title title-text">К этому стилю подойдут</h2>
  </div>
  <div class="review__slider-outer">
    <div class="swiper catalog-furniture__slider">
      <div class="swiper-wrapper review__slider-wrapper">
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container ">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <div class="catalog-furniture__elem__button__text">-</div>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <div class="catalog-furniture__elem__button__text">+</div>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container ">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container catalog-furniture__elem-container__swiper">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container catalog-furniture__elem-container__swiper">
            <div class="catalog-furniture__elem ">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container catalog-furniture__elem-container__swiper">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container catalog-furniture__elem-container__swiper">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container catalog-furniture__elem-container__swiper">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
         <div class="swiper-slide review__slider-slide itemcard__slider-slide">
          <div class="catalog-furniture__elem-container catalog-furniture__elem-container__swiper">
            <div class="catalog-furniture__elem">
              <picture>
                <source srcset="img/catalog-el.webp" type="image/webp">
                <img loading="lazy" src="img/catalog-el.png" class="catalog-furniture__elem_pic" width="197" height="108" alt="красивая мебель">
              </picture>
              <div class="catalog-furniture__elem_name small-text">
                Стол Круглый
              </div>
              <div class="catalog-furniture__elem_cost small-text">
                450 р / 1 часть
              </div>
              <div class="catalog-furniture__elem__button__container">
                <button class="catalog-furniture__elem__button small-text">
                  <svg class="cart-widget__icon catalog-furniture__icon" width="24" height="24">
                    <use xlink:href="img/sprite.svg#basket"></use>
                  </svg>
                  <div class="catalog-furniture__elem__button_text small-text">
                    в корзину
                  </div>
                  <svg class="catalog__arrow_button" width="24" height="24">
                    <use xlink:href="img/sprite.svg#button-arrow"></use>
                  </svg>
                </button>
                <button class="catalog-furniture__elem__button_minus small-text">
                  <p class="catalog-furniture__elem__button__text">-</p>
                </button>
                <div id="catalog_counter" class="catalog-furniture__elem__button_counter small-text">
                  1
                </div>
                <button  class="catalog-furniture__elem__button_plus small-text">
                  <p class="catalog-furniture__elem__button__text">+</p>
                </button>
              </div>

            </div>
        </div>
         </div>
      </div>
    </div>
  </div>
  <div class="review__controls itemcard__swiper__controls">
    <div class="swiper-button-prev review__nav-button itemcard__nav-button--r-margin">
      <svg class="review__nav-button-icon" width="13" height="8">
        <use xlink:href="img/sprite.svg#arrow-swiper-prev"></use>
      </svg>
    </div>

    <div class="swiper-button-next review__nav-button">
      <svg class="review__nav-button-icon" width="13" height="8">
        <use xlink:href="img/sprite.svg#arrow-swiper-next"></use>
      </svg>
    </div>
  </div>
</section>

