<section class="review">
  <div class="review__container container">
    <div class="review__title">
      <h2 class="review__title-text title-text">
        что говорят клиенты
      </h2>

      <div class="review__swiper-nav">
        <div class="review__button review__button--left swiper__prev">
          <svg class="review__button-icon--rotated" width="24" height="24">
            <use xlink:href="img/sprite.svg#button-arrow"></use>
          </svg>
        </div>
        <div class="review__pagination swiper__pagination">

        </div>
        <div class="review__button swiper__next">
          <svg class="review__button-icon" width="24" height="24">
            <use xlink:href="img/sprite.svg#button-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper review__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом и должны быть  азумом и должны быть азумом и должны.
             сенцию победы маркетинга над разумом и должны быть  азумом и должны. ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ “ Есть над чем задуматься: стремящиеся вытеснить традиционное
            производство, нанотехнологии представляют собой не что иное, как
             квинтэссенцию победы маркетинга над разумом и должны быть  азумом
             и должны быть азумом и должны. сенцию победы маркетинга над разумом
             и должны быть  азумом и должны. над разумом и должны быть  азумом и
             должны быть азумом и должны. сенцию победы маркетинга над разумом и
              должны быть  азумом и должны. ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом и должны быть  азумом и должны быть азумом и должны.
             сенцию победы маркетинга над разумом и должны быть  азумом и должны. ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом и должны быть  азумом и должны быть азумом и должны.
             сенцию победы маркетинга над разумом и должны быть  азумом и должны. ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом и должны быть  азумом и должны быть азумом и должны.
             сенцию победы маркетинга над разумом и должны быть  азумом и должны. ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом и должны быть  азумом и должны быть азумом и должны.
             сенцию победы маркетинга над разумом и должны быть  азумом и должны. ”
          </div>

        </div>
        <div class="swiper-slide review__swiper__slide">
          <div class="review__swiper__title-slide">
            <div class="review__swiper__square">

            </div>
            <div class="review__swiper__title-text">
              <div class="review__swiper__name small-text">
                татьяна и анатолий казловы
              </div>
              <div class="review__swiper__company small-text">
                “Рога и копыта” / свадьба
              </div>
            </div>
          </div>
          <div class="review__swiper__text small-text">
            “ Есть над чем задуматься: стремящиеся вытеснить
             традиционное производство, нанотехнологии представл
            яют собой не что иное, как квинтэссенцию победы маркетинга
            над разумом и должны быть  азумом и должны быть азумом и должны.
             сенцию победы маркетинга над разумом и должны быть  азумом и должны. ”
          </div>

        </div>


      </div>
    </div>
  </div>
</section>
