// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family-title: "Poiret One", sans-serif;
  --font-family-text: "Nunito", sans-serif;
  --font-color: #fff;
  --content-width: 1570px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
